.card {
    min-height: 500px;
    margin: 25px;
    .header {
        margin: 5px 0 15px;
    }
    .content {
        margin: 0 16px;
        .tags-wrapper {
            margin-top: 25px;
            .tags {
                display: inline-block;
            }
        }
    }
    .footer {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 5px;
        .hint {
            margin: 15px 15px 10px auto;
        }
    }
}