<mat-card
    *ngIf="listOfRepositories"
    class="card"
    [@swipeCard]="animationState"
    (@swipeCard.done)="resetAnimationState()"
    (skip)='startAnimation("skip")' 
    (favorite)='startAnimation("favorite")'
>
    <mat-card-header class="header">
        <mat-card-title>{{ repositories[index]?.full_name }}</mat-card-title>
        <mat-card-subtitle *ngIf="repositories[index]?.description">{{ repositories[index]?.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="content">
        <p>
            Stars: <a ></a>{{ repositories[index]?.stargazers_count }}
        </p>
        <p>
            Forks: {{ repositories[index]?.forks }}
        </p>
        <p>
            Language: <a ></a>{{ repositories[index]?.language }}
        </p>
        <p>
            Created at: {{ repositories[index]?.created_at | date }}
        </p>
        <p>
            Clone URL: <a ></a>{{ repositories[index]?.clone_url }}
        </p>
        <p>
            SSH URL: <a ></a>{{ repositories[index]?.ssh_url }}
        </p>
        <div class="tags-wrapper" *ngIf="repositories[index]?.topics">
            <mat-hint class="tags" *ngFor="let topic of repositories[index]?.topics">{{ topic }}&nbsp;&nbsp;</mat-hint>
        </div>
    </mat-card-content>
    <mat-card-footer class="footer">
        <mat-hint class="hint">{{ index + 1 }} / {{ repositories.length }}</mat-hint>
    </mat-card-footer>
</mat-card>