<button mat-fab color="warn" [disabled]="isEndOfList && !isStartOfNewSearch" aria-label="Example icon button with a close icon" (click)='swipe("skip")'>
    <mat-icon>close</mat-icon>
</button>
<button mat-fab color="primary" [disabled]="isEndOfList && !isStartOfNewSearch" aria-label="Example icon button with a favorite icon" (click)='swipe("favorite")'>
    <mat-icon>favorite</mat-icon>
</button>
