<div class="container">
    <mat-toolbar color="primary">
        <span>Ginder</span>
    </mat-toolbar>
    <ng-container>
        <gndr-search 
            (listOfRepositoriesReceived)="getListOfRepositories($event)">
        </gndr-search>
        <gndr-card 
            [swipeDone]="swipeDone" 
            [listOfRepositories]="listOfRepositories" 
            [isStartOfNewSearch]="isStartOfNewSearch" 
            (endOfListReached)="endOfListReached($event)">
        </gndr-card>
        <gndr-button-group 
            [isEndOfList]="isEndOfList" 
            [isStartOfNewSearch]="isStartOfNewSearch" 
            [swipeDone]="swipeDone">
        </gndr-button-group>
    </ng-container>
</div>