<form class="form" [formGroup]="form">
    <mat-form-field class="search-input" appearance="fill">
        <mat-label>Search repositories</mat-label>
        <input formControlName="searchRepositories" matInput #message maxlength="256" placeholder="Ex. Angular">
        <mat-hint align="start"><strong>Type something to find GitHub repositories</strong></mat-hint>
    </mat-form-field>
</form>